:root{
    --bckg: #4D4D4D;
}
header{
    background-color: var(--bckg);
    height:50px;
    /* width: 100%; */
}
.sicon{
    color: #fff;
    
}

.allsicons{
    width:120px
}
.text{
    font-size: 14px;
    color: #fff;
    font-size: 12px;
}
.arr{
    font-size: 18px;
    color: #fff;
}
a{
    text-decoration: none;
}
.add{
    font-size: 14px;
    color:#5B84FF;
    border: 1.4px solid #5B84FF;
    height: 30px;
}