.addmodal-content,.submodal-content{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; 
      align-items: center; 
      display: flex; 

    /* background-color: green; */
   /* background-color: rgba(0, 0, 0, 0.1); */
}
.edcont{
    background-color: #fff !important;
    box-shadow: 0px 23px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    width: 500px;
    top: 10% !important;
    /* position: absolute; */
    height: 350px !important;
    max-height: 500px;
    /* margin: 0 30px !important; */
   
}
.macont, .tpcont{
    background-color: #fff !important;
    box-shadow: 0px 23px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    width: 500px;
    top: 10% !important;
    /* position: absolute; */
    height: 300px !important;
    max-height: 500px;
    /* margin: 0 30px !important; */
   
}
.subcont{
    background-color: #fff;
    box-shadow: 0px 23px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    width: 500px;
    top: 10% !important;
    position: absolute;
    height: 450px !important;
    max-height: 800px;
    /* margin: 0 30px !important; */
   
}
.title{background-color: #f5f5f5;
height: 50px;}
.title h5{
    font-size: 15px;
}
.image-container{
    height: 50px;
    background: #E3E2D6;
    border-radius: 8px;
}
.upload{
   
}
.upload input{
    opacity: 1;
}
.bt{
    /* background-color: green !important; */
}
.submit-button {
    background-color: #F5F5F5 !important;
    /* color: #fff; */
    /* padding: 8px 14px; */
    border: none;
    width: 62px !important;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .submit-button:hover {
    background-color: rgb(68, 173, 68) !important;
    border-radius: 4px;
  }
.cancel-button:hover {
    background-color: rgb(249, 47, 47) !important;
    border-radius: 4px;

  }
.body input, .body select{
    border-radius: 8px;
    border:  1.5px solid #ADB5BD;
    box-shadow: none !important;
    outline: none !important;
    height: 40px;
}
.bn{
    width: 100% ;
}
.body select{
    width: 100% ;
}
.opt{
    width: 10000px !important ;
    /* background-color: yellow; */
}
