.tbl-container{
    height:100%;
    width: 100%;
}
.table-wrapper{
    overflow-y: scroll;
    height: fit-content;
    max-height: 80vh;
}
.checkbox-table {
    border-collapse:collapse;
    width: 100%;
    margin:0;
    
  }
  
  .checkbox-table th,
  .checkbox-table td {
    padding: 4px;
    text-align: left;
    border: none;
  }
  .checkbox-table tr{
    padding: 0 !important;
    margin: 0 !important;
  }

 
  .checkbox-table th {
    background-color:#E3E2D6;
    color: #887332;
  }
  .checkbox-table tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  /* .userid{
    display: flex;
    flex-direction: column;
  } */
  
  .checkbox-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .checkbox-table input[type="checkbox"] {
    margin-right: 10px;
  }
  .check{
    background-color:#5B84FF !important;
  }
button{
    border:none !important;
    /* background-color: green ; */
    
}
