*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: none;

}

.container{
  display: flex;
}
.App{
  height: 100vh;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
html{
font-family: 'Montserrat';
}